<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Audio Portfolio</h1>
    </header>
    <div class="portfolio-section">
        <h2>Beats</h2>
        {% for file in audio_files_info['beats'] %}
        <p><a href="https://drive.google.com/file/d/{{ file['id'] }}/view" target="_blank">{{ file['name'] }}</a></p>
        {% endfor %}
    </div>

    <div class="portfolio-section">
        <h2>Demos</h2>
        {% for file in audio_files_info['demos'] %}
        <p><a href="https://drive.google.com/file/d/{{ file['id'] }}/view" target="_blank">{{ file['name'] }}</a></p>
        {% endfor %}
    </div>

    <div class="portfolio-section">
        <h2>New Uploads</h2>
        {% for file in audio_files_info['new'] %}
        <p><a href="{{ file['url'] }}">{{ file['name'] }}</a></p>
        {% endfor %}
    </div>

    <footer>
        <a href="{{ url_for('home') }}">Go to Home</a>
    </footer>
</body>

</html>