<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="header">
        <h1 id="main-title">SOLUS NOIR</h1>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/upload">Upload</a>
        </nav>
    </header>

    <main>
        <section class="audio-files">
            <h2>Audio Files</h2>
            <h3>Uploaded Beats</h3>
            <div class="audio-list">
                {% for file in audio_files_info.beats %}
                <div class="audio-file">
                    <a href="{{ file.url }}">{{ file.name }}</a>
                </div>
                {% endfor %}
            </div>
            <h3>New Files</h3>
            <div class="audio-list">
                {% for file in audio_files_info.new %}
                <div class="audio-file">
                    <a href="{{ file.url }}">{{ file.name }}</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>

</html>
